BasedOnStyle: llvm
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
SpaceBeforeParens: Never
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: Inner
InsertNewlineAtEOF: true
RequiresClausePosition: OwnLineWithBrace
